In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv("data.csv")
df

   area  bedroom  age  price
0  1000        3   23  79797
1  1500        4   23  50000
2  2300        5   42  34000
3  3540        4   12  45000
4  4120        2   13  43000
5  5490        3   20  34300

In [3]:
df.bedroom.median()

3.5

In [4]:
import math
median_bedroom=math.floor(df.bedroom.median())
median_bedroom

3

In [7]:
df.bedroom = df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age  price
0  1000        3   23  79797
1  1500        4   23  50000
2  2300        5   42  34000
3  3540        4   12  45000
4  4120        2   13  43000
5  5490        3   20  34300

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [9]:
reg.coef_

array([   -9.50681828, -7725.81851421,  -339.30519797])

In [10]:
reg.intercept_

110685.69470067005

In [11]:
reg.predict([[3000,40,19]])

C:\Users\surya\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-233314.29946061])

# y=mx+b

In [13]:
-233314.29946061*3300+110685.69470067005

-769826502.5253123